
<%=theading("listing", :model=>'translations_upload', :count=>11) %>
<%if TranslationsUpload.respond_to?( :searchable_attr ) && TranslationsUpload.searchable_attr.any? then %>
<div id = 'data-empty' style = 'display:none'><%= @translations_uploads.empty?.to_s %></div>
<button id="showHideCriteria" type='button'>x</button>
<div id='criteria' class="criteria" >
  <!-- Use form_tag here because we are not going to work with a new AR model. form_tag doesn't work with formtastic either -->
  <!-- See controller#index doc for how to use this stuff below. 
    YOU NEED TO ADD METHODS TO MODEL BEFORE THIS PAGE WILL WORK -->
  <%= form_tag translations_uploads_path, :method => 'get', :class=>'formtastic' do %>
    <!--    These next 2 hidden fields needed for sorting from column headers -->
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <fieldset class="inputs">
      <ol>
     
      <%if TranslationsUpload.searchable_attr.include?("translation_language_id") %>  
      <li class="string optional" id="translations_upload_translation_language_id_input"><label for="criteriontranslation_language_id" class="criteria-label" >
        <%= tlabel("translation_language_id", "translations_upload") %> </label>
           <%=select_tag(  :operator_translation_language_id, options_for_select(operators_2_options(equal_operator), params[:operator_translation_language_id]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} ) %> 
           <!-- The date pikcer here cannot reset itself: once a user chooses a date then the only way of having it not considered it to set it to, say 2000-01-01 and criterion to after
             Not pretty but whoever makes datepicker doesn't want a reset function as part of it http://jsbin.com/ofare/edit#javascript,html may be a work around -->
           <%=text_field_tag( :criterion_translation_language_id, params[:criterion_translation_language_id])%>
      </li> 
      <%end #if  attribute in searchable %> 
     
      <%if TranslationsUpload.searchable_attr.include?("description") %>  
      <li class="string optional" id="translations_upload_description_input"><label for="criteriondescription" class="criteria-label" >
        <%= tlabel("description", "translations_upload") %> </label>
           <%=select_tag(  :operator_description, options_for_select(operators_2_options(equal_operator), params[:operator_description]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} ) %> 
           <!-- The date pikcer here cannot reset itself: once a user chooses a date then the only way of having it not considered it to set it to, say 2000-01-01 and criterion to after
             Not pretty but whoever makes datepicker doesn't want a reset function as part of it http://jsbin.com/ofare/edit#javascript,html may be a work around -->
           <%=text_field_tag( :criterion_description, params[:criterion_description])%>
      </li> 
      <%end #if  attribute in searchable %> 
     
     </ol> 
   </fieldset>
      
      <%= submit_tag "Search", :name => nil %>
  <%end  #end form_tag do%>

</div>
<%end # if searchable_attr %>

<% if @translations_uploads.count == 0 then %>
  
<%  else %>
    <%= twill_paginate %>

    <% if TranslationsUpload.respond_to? :sortable_attr
      sortable_cols = TranslationsUpload.sortable_attr
    else
      sortable_cols = []
    end %>

  <table class="data">
    <tr class="dataheader">
      <td class = "dataheader">Version</td>
      <td class = "dataheader">Language</td>
      <!--th class ="dataheader">< %=sortable("translation_language_id","translations_upload", sortable_cols.include?("translation_language_id"))%></th --> 
      <!--th class ="dataheader">< %=sortable("calmapp_version_id","translations_upload", sortable_cols.include?("calmapp_version_id"))%></th -->
    
      <th class ="dataheader"><%=sortable("description","translations_upload", sortable_cols.include?("description"))%></th> 
  
        <%= link_header 2 %>
      
    </tr>
  
    
  <% cell_class = "data" %>
  <% link_cell_class="link"%>  
  <% @translations_uploads.each do |translations_upload| %>
  
    <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(translations_upload)%>'>
             
            <td class="<%= cell_class %>"><%= translations_upload.calmapp_versions_translation_language.calmapp_version_tl.description %></td>
            
             <td class="<%= cell_class %>"><%= translations_upload.calmapp_versions_translation_language.translation_language.name%></td>
            <td class="<%= cell_class %>"><%= translations_upload.description %></td>
            
            <td class="<%= cell_class %>"> <%=translations_upload.yaml_upload%></td>
          <!--%= link_edit( edit_translations_upload_path(translations_upload), :translations_uploads  ) % -->
      <!--%= link_destroy( translations_upload, :translations_uploads ) %-->
      
    </tr>
  <% end #do data %>
  </table>
  <%= twill_paginate %>

<br />
<%end # if else count %>
<%has_role? :translations_uploads_create do%>
<%=link_new( new_translations_upload_path, :translations_upload)  %> | 
<%end%>
<%= link_back(translations_uploads_path) %>
