<p id="notice"><%= notice %></p>

<p>
  <b><%= tlabel('translation_language_id') %>:</b>
  <%= @translations_upload.translation_language_id %>
</p>

<p>
  <b><%= tlabel('description') %>:</b>
  <%= @translations_upload.description %>
</p>

<%if has_role? :translations_uploads_write%>
<%=link_edit('edit', edit_translations_upload_path(@translations_upload)) %> |
<%end%>
<%= link_back(translations_uploads_path) %>

