<p id="notice"><%= notice %></p>

<p>
  <b><%= tlabel('translation_language_id') %>:</b>
  <%= @translations_upload.translation_language_id %>
</p>

<p>
  <b><%= tlabel('description') %>:</b>
  <%= @translations_upload.description %>
</p>


<%=link_edit('edit', edit_translations_upload_path(@translations_upload)) %> |
<%= link_back(translations_uploads_path) %>

