
<p class="pageheading"><%=t("application.about", :calm=> $APPLICATION_NAME) %></p>

<div style="width:300px;background-color:#E5E5E5;left:100px;" class = "centeredText" >
<h2 class="centeredText"><%=$APPLICATION_NAME%></h5> 
 <div class="centeredText"><%=t("application.app_sub_name")%> </div>
 <div class="centeredText"> <%=t("application.version", :version=> $APPLICATION_VERSION )%></div> 
 <div ><%=t("application.developed_using") %></div>

<ul style="text-align:left;">
	<li>Ruby 1.9.2-p290</li>
	<li>Ruby on Rails 3.2.3 </li>
	<li>JQuery 1.5.2 </li>
</ul>	
</div>




