<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>


<p>
  <b>Roles:</b>
  <%= @profile.display %>
</p>

<%has_role? :profiles_write do%>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%end%>
<%= link_to t("formtastic.actions.back"), profiles_path %>
