<!--h2>Edit < %= resource_name.to_s.humanize %></h2 -->
<p class ='pageheading'>Edit Me</p>
<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <!--%= devise_error_messages! % -->
  <%=f.inputs  do%>
  <!-- for this to work you need to set any new attributes in the parameter sanitizer in application_controller.rb -->
  <%=render :partial => 'shared/user_basic_attributes', :locals=>{:f=>f}%>
  
  <%= f.input :current_password, :label=> t($ARA + "user.password_current"), :hint => t($FH + "user.password_current")%>
  <% end %>
  <!--%= f.submit "Update" % -->
  <%= f.actions do %>
      <%= f.action :submit, :label => "Update Me", :button_html => {:id=>"submit"} %>
  <% end %>
<% end %>


<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: {confirm: t($MSDS)}, :method => :delete %>.</p>

<%= link_to "Back", :back %>
