<%=theading("redis_database.and_version_publish", :model=>"redis_database", :count=>10) %>
<% if RedisDatabase.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    

    <th class ="dataheader"><%=tlabel('calmapp_version_id', 'redis_database' ) %></th>
    <th class ="dataheader"><%=tlabel('redis_instance_id', 'redis_database') %></th>
    <th class ="dataheader"><%=tlabel('redis_db_index', 'redis_database') %></th>
    <!--th class ="dataheader"><%=tlabel('calmapp_version', 'redis_database') %></th-->
    
    
    <th class="linkheader"></th> 
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @redis_databases.each do |redis_database| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(redis_database)%>'>
      <td class="<%= cell_class %>">
          <%if redis_database.calmapp_version %>
            <%= redis_database.calmapp_version.description %>
          <%end%>
        </td>
      
      <td class="<%= cell_class %>"><%= RedisInstance.find(redis_database.redis_instance_id).description %></td>
    <%has_role? :redis_databases_write do%> 
      <td class="<%= cell_class %>"><%= redis_database.redis_db_index %></td>
        <%if redis_database.calmapp_version %>
          <%= link_edit( version_alterredisdb_path(redis_database.calmapp_version), "redis_database") %>
        <%end%>
        <td class="<%= link_cell_class %>">
     <%end%>     
     <%has_role? :redis_databases_create do%>
      <%if redis_database.calmapp_version %>
        <%= tlink_to  'new_redis_for_version', version_alterredisdb_path(redis_database.calmapp_version.id) %>
      <%end%>
     <%end%>  
    </td>
    <%has_role? :redis_databases_versionpublish do%>
      <td class="<%= link_cell_class %>"  ><%= tlink_to 'version_publish',redis_databases_versionpublish_path(redis_database),{
                        :data=>{:type=>"json", :disable_with=> "Publishing...."},
                        #:"data-tooltip" => t($FH + 'redis_database.version_publish', :version_name=>redis_database.calmapp_version.description , :db_name=> redis_database.short_name),
                        :method=> "post", 
                        :form=>{:id=>"publish"}, 
                        :remote=> true, 
                        :navigate=>false} %></td>
    <%end%>
    <%has_role? :redis_databases_destroy do%>                 
       <%=link_destroy redis_database, "redis_database"%>
    <%end%>
  </tr>
<% end %>
</table>
<%= twill_paginate %>
<%end%>
<p>
<%if has_role? :calmapp_versions_read%>  
<%=tlink_to(  "redis_from_versions", calmapp_versions_path)%>
<%end%>
</p>  
<br />

<!--%= tlink_to 'new_model', new_redis_database_path, :model=> 'redis_database' % -->

<script>
  $('form.button_to').on('ajax:success', function(event, data, status, xhr) {
    //console.log("success");
    //alert("Number of translations written to Redis: " + data.result);
    //UnobtrusiveFlash.showFlashMessage('Hello World', {type: 'notice'})
  });
  $('form.button_to').on('ajax:error', function(event, xhr,  status, error) {
    //alert(xhr.responseJSON.toString());
    //console.log("error");
    //message = error + " " + xhr.responseJSON.result + " status: " + xhr.responseJSON.status;
    //console.log(message);
    //alert(message);
    //UnobtrusiveFlash.showFlashMessage('Error', {type: 'error', timeout: 0})
  });
</script>
<script>
  //this script does jquery ui tooltips
  $("[data-tooltip]").each(function(i, e) {
    var tag = $(e);
    if (tag.is("[title]") === false) {
        tag.attr("title", "");
    }
});



/*  
  $(function() {
    $( document ).tooltip({
      position: {
        my: "center bottom-20",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
  });
*/
$(document).ready(function(){
//  $("#has-tt").tooltip({content:function(){return "Some <b>great</b> HTML tooltip text!";}});  
  $('form#publish').on("click", "div.tt" , function(){
    $(this).remove();
  });
});

</script>
