<%=image_tag( "treeview/plus.gif", :alt => "+", :height=>"15", :id => "maximise", :style=>"float:right")%>
<%=image_tag( "treeview/minus.gif", :alt => "-", :height=>"15", :id => "minimise", :style=>"float:right")%>
<%=theading("listing", :model=>"translation", :count=>10) %>

<%full_key_display='none'%>
<%wrapped_key_display='table_cell'%>
<%short_key_display='table-cell'%>

 <div id = 'data-empty' style = 'display:none'><%= @translations.empty?.to_s %></div>
 
<button id="showHideCriteria" type='button'>x</button>
<div id='criteria' class="criteria" >
  <!-- Use form_tag here because we are not going to work with a model. form_tag doesn't work with formtastic either -->
  <%= form_tag translations_path, :method => 'get', :class=>'formtastic' do %>
  <!--%= semantic_form_for translations_path, :method => 'get' do |f| % -->
    <!--%=f.inputs do%-->
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div id="selection_mode" class = "radio">
        
       <input id="translation_selection_mode_all" name="selection_mode" type="radio" value="all" 
                 <%=initialise_selection_mode_radio_buttons("all", params["selection_mode"])%>/>
              <label for="translation_selection_mode_all"><%=tlabel("selection_mode_all", "translation")%>
              </label>
         
                <input id="translation_selection_mode_untranslated" name="selection_mode" type="radio" value="untranslated"  
                  <%=initialise_selection_mode_radio_buttons("untranslated", params["selection_mode"])%>/>
                <label for="translation_selection_mode_untranslated"><%=tlabel("selection_mode_untranslated", "translation")%>
              </label>
         
                <input id="translation_selection_mode_en_newer" name="selection_mode" type="radio" value="en_newer"  
                    <%=initialise_selection_mode_radio_buttons("en_newer", params["selection_mode"])%>/>
                 <label for="translation_selection_mode_en_newer"><%=tlabel("selection_mode_en_newer", "translation")%>
              </label>
              
                <input id="translation_selection_mode_both_untranslated_and_en_newer" name="selection_mode" type="radio" value="both_untranslated_and_en_newer" 
                   <%=initialise_selection_mode_radio_buttons("both_untranslated_and_en_newer", params["selection_mode"])%>/>
                <label for="translation_selection_mode_both_untranslated_and_en_newer">   <%=tlabel("selection_mode_untranslated_and_en_newer", "translation")%>
                
              </label>
    </div>  
    <fieldset class="inputs">
      <ol>
      <li class="string optional" id="translation_language_id_input">
         <label for="criterion_cav_id", class="criteria-label" ><%=tlabel("calmapp_version", "translation")%></label>
         <%=select_tag(  :operator_cavtl_id, options_for_select(operators_2_options(equal_operator), 
             params[:operator_cavtl_id]),{:include_blank=> false,:class=>'criteria-operators-select', :readonly=>true} )%> 
         <%=select_tag( :criterion_cavtl_id, options_from_collection_for_select(users_cavs_tls(), "id","description", 
               params[:criterion_cavtl_id]), {:include_blank=> ((users_cavs_tls().count == 1) ? false: true)})%>
      </li>
      
       <li class="string optional" id="translation_dot_key_code_input">
         <label for="criterion_dot_key_code", class="criteria-label" ><%=tlabel("dot_key_code", "translation")%></label>
         <%=select_tag(  :operator_dot_key_code, options_for_select(operators_2_options(Translation.search_dot_key_code_operators), 
             params[:operator_dot_key_code]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} )%> 
         <%=text_field_tag( :criterion_dot_key_code, params[:criterion_dot_key_code], :style=>"width : 300px;")%>   
      </li> 
       <li class="string optional" id="translation_translation_input">
           <label for="criterion_translation", class="criteria-label"><%=tlabel("translation", "translation")%></label>
           <%=select_tag(  :operator_translation, options_for_select(operators_2_options(Translation.search_translation_operators), 
               params[:operator_translation]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} )%> 
           <%=text_field_tag( :criterion_translation, params[:criterion_translation], :style=>"width : 300px;")%>   
      </li>
    
     </ol> 
   </fieldset>
   <!--%end%-->  
      <%= submit_tag "Search", :name => nil %>
    
  <%end%>

</div>


<%= twill_paginate %>
<table class="data" style="table-layout: fixed; width: 100%; ">
  <thead class="ui-widget-header" style = "color:black">
  <tr class="dataheader">

    <%header_style = "font-size:1.1em;"%>
    <%width_css = @translations.empty? ? width_style : width_style(@translations[0].attributes["iso_code"])%>

    <!--th class ="dataheader" style="display:< %=full_key_display%>;"> <%=tlabel('dot_key_code', 'translation') %></th-->
    <th class ="dataheader" style="display:<%=wrapped_key_display%>;<%=width_css[:dot_key_code]%><%=header_style%>"><%=tlabel('dot_key_code', 'translation') %></th>
    <%if not @translations.empty?%>
      <%if @translations[0].attributes['iso_code'] != 'en' %>
        <th class ="dataheader"  style= '<%=header_style%><%=width_css[:en_translation]%>'><%=tlabel('en_translation', 'translation') %></th>
      <%end%>
      
    <%end%>
    
    <!--th class ="dataheader" style="display:< %=short_key_display%>;" >< %=tlabel('dot_key_code', 'translation') %></th -->
   
    <th class ="dataheader" style= '<%=header_style%><%=width_css[:translation]%>'><%= (@translations.empty? ? '' : @translations[0].attributes["language"] + " ") + tlabel('translation', 'translation') %></th>
    <%if false %>
      <th class ="dataheader" style='<%=header_style%><%=width_css[:special_structure]%>';>Plural</td>
    <%end%>  
    <%if false %>  
      <th class ="dataheader" style='<%=header_style%><%=width_css[:incomplete]%>';>Incomplete</td>
    <%end%>  
    <%if not @translations.empty?%>
      <%if @translations[0].attributes['iso_code'] == 'en'%> 
      <th class="linkheader" style = <%=header_style%><%=header_style%><%=width_css[:delete]%>'></th>
      <%end%>
    <%end%>
    <!--th class="linkheader"></th-->
    
  </tr>
</thead>
  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% editable_cell_class = "best_in_place"%>
<!-- < % i = 0 %>  -->
<tbody class="ui-widget-content">
  <% @translations.each do |trans| %>
  
     <%translation = Translation.find(trans.id)%>
  <tr class = "<%= cycle('dataeven', 'dataodd') %>"  id = '<%= dom_id(trans)%>'>
      <td class="<%= cell_class%>" style="word-wrap: break-word;<%=width_css[:dot_key_code]%>" ><span style="max-width:20px;"><%= trans.dot_key_code %></span></td>
      <!--td class="< %= cell_class %>" style="display:< %=short_key_display%>; ">< %= dot_key_code_last_key(translation.dot_key_code) %></td -->
      <%if @translations[0].attributes['iso_code'] != 'en'%>
        <td class="<%= cell_class%>" style="<%=width_css[:en_translation]%>;word-wrap: break-word;" data-tooltip = "<%=translation_tooltip(trans.attributes)%>"> 
        <%= format_english(trans.attributes) %></td>
      <%end%>
    
    <%if has_role? :translations_write%>  
      <!-- you cannot give this td below a class. It messes up bip -->
      <td id= '<%(best_in_place?(trans) ? "best_in_place" : "special-editor")%>' class="editor-container" style="<%=width_css[:translation]%>">
        <% if best_in_place?(trans) then%>
          
          <!--input id= 'editor-name' type='hidden' value = 'bip' -->
          <%=editor_text_field "bip" %>   
          <%=english_text_field(trans.attributes)%>
           <div id = 'local-flash'></div>
           <%options = {:url => translation_path(trans.id),:as=> input_control(trans.attributes),:ok_button=>"Save", 
             :ok_button_class=> "ok", 
             :cancel_button=>"Cancel", :cancel_button_class => "cancel",
             :place_holder=>"Click to edit", :html_attrs=> html_attrs(trans.attributes)}%>
            <% if input_control(trans.attributes)==:select then 
               options[:collection]= collection?(trans.attributes)
               end%>   
            <%= best_in_place(trans, :translation, options) %>
         
         <%elsif not trans.attributes["editor"] == nil then%>
         <!-- ARRAY ORDER EDITOR -->
          <!--input id= 'editor-name' type='hidden' value = '< %=trans.attributes["editor"]%>'   -->
           <!--%=editor_text_field trans.attributes["editor"] % -->
           <!--%=english_text_field(trans.attributes)% -->
           <div id = 'local-flash'></div>
          <span id = '<%=trans.dot_key_code%>' class = 'special-anchor' style = "color: blue;   word-wrap: break-word;"><%= trans.translation%></span>
          
          <%= form_for translation,   remote: true,  html: {  method: "patch", class: "edit", id: "edit_translation" } do |f| %>
             <%=translation_index_form_standard_html1(f, trans)%>
             <%if  trans.attributes["editor"] == 'array_order' then %>
               <ul id= 'sortable' class= 'order-editor' style="list-style: none; margin: 3px; padding: 3px;"></ul> 
             <% elsif trans.attributes["editor"] == 'array' || trans.attributes["editor"] == 'array_first_element_null' then%>
               <table id = 'array-special-editor' class= 'array-editor'> </table> 
             <%end%>
             <%=translation_index_form_standard_html2(f,trans)%>
           <%end %>
         
         <%elsif trans.attributes["special_structure"] == Translation::TRANS_PLURAL%>
          <!-- plural editor here -->
           <input id= 'editor-name' type= 'hidden' value = 'plural'  >
           <div id = 'local-flash'></div>
           
           <%if not JSON.is_json?(trans.translation)

             trans.translation = ActiveSupport::JSON.encode(trans.translation)
           end %>
          <span style="color: blue;   word-wrap: break-word;" class="plural-anchor" id="<%=trans.dot_key_code%>">
            <%=plural_translation_static_text(trans.translation)%>
          </span>
          
           <%= form_for(translation,   remote: true, method: "patch", html: {  class: "edit", id: "edit_translation" }) do |f| %>
          
           <%=translation_index_form_standard_html1(f, trans)%>
                  
           <%=plural_editing_table(trans.attributes)%>
           
           <%=translation_index_form_standard_html2(f, trans)%>
           
           <%end%>
         <%else%>
           <!-- OTHER EDITOR -->
           
          <span id = '<%=trans.dot_key_code%>' class = '<%="special_editor " %>' ><%= trans.attributes["translation"]%></span>
           
          <%= form_for translation, url: translation_path(trans),  remote: true,  html: { method: "post", class: "edit", id: "edit_translation" } do |f| %>
          
          <%end #form %>
          
         <%end #elsif %>
         
      </td>
      <%elsif has_role? :translations_read%>
        <%=format_readonly_translation(trans.attributes)%>
      <%else%>
        You do not have privege to see this translation  
      <%end%>  
      <%if false %>
        <td class="<%= cell_class%>" style = "<%=width_css[:special_structure]%>">
              <%=check_box_tag("translation[plural]",(trans.attributes["special_structure"] == Translation::TRANS_PLURAL),  
              (trans.attributes["special_structure"] == Translation::TRANS_PLURAL), :disabled=>'disabled')%> 
     </td>
      <%end%>
      <%if false %>
        <td class="<%= cell_class%>" style = "<%=width_css[:incomplete]%>">
        <!--%if trans.attributes["special_structure"] then% -->
          <%=check_box_tag("translation[incomplete]",trans.attributes["incomplete"],  trans.attributes["incomplete"],:disabled=>'disabled')%> 
        <!--%end% -->
        </td>
      <%end%>
      <!-- %if permitted_to_destroy?(translation, trans.attributes) % -->
      <%if (has_role?(:translations_destroy)  && (current_user.admin?)) then%>
        <%if trans.iso_code == 'en' %>
          <%=link_destroy(translation, :translations, {:confirm => 'delete.translation.are_you_sure',
               :dot_key_code => trans.attributes["dot_key_code"], 
               :english_translation => trans.attributes["en_translation"]}, 'td', {:style => width_css[:delete]}) %>    
        <%end%>
      <%end%>  
  </tr>
  
  <!-- >< % i+=1%> -->
<% end # each trans%>

</table>

<!--div id="special-editor-background" class="special-editor-background" style="display:none; position:absolute;" </div -->
  
  

<%= twill_paginate %>
