<%=image_tag( "treeview/plus.gif", :alt => "+", :height=>"15", :id => "maximise", :style=>"float:right")%>
<%=image_tag( "treeview/minus.gif", :alt => "-", :height=>"15", :id => "minimise", :style=>"float:right")%>
<%=theading("listing", :model=>"translation", :count=>10) %>

<%full_key_display='none'%>
<%wrapped_key_display='table_cell'%>
<%short_key_display='table-cell'%>

 <div id = 'data-empty' style = 'display:none'><%= @translations.empty?.to_s %></div>
 
<button id="showHideCriteria" type='button'>x</button>
<div id='criteria' class="criteria" >
  <!-- Use form_tag here because we are not going to work with a model. form_tag doesn't work with formtastic either -->
  <%= form_tag translations_path, :method => 'get', :class=>'formtastic' do %>
  <!--%= semantic_form_for translations_path, :method => 'get' do |f| % -->
    <!--%=f.inputs do%-->
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div id="selection_mode" class = "radio">
        
       <input id="translation_selection_mode_all" name="selection_mode" type="radio" value="all" 
                 <%=initialise_selection_mode_radio_buttons("all", params["selection_mode"])%>/>
              <label for="translation_selection_mode_all"><%=tlabel("selection_mode_all", "translation")%>
              </label>
         
                <input id="translation_selection_mode_untranslated" name="selection_mode" type="radio" value="untranslated"  
                  <%=initialise_selection_mode_radio_buttons("untranslated", params["selection_mode"])%>/>
                <label for="translation_selection_mode_untranslated"><%=tlabel("selection_mode_untranslated", "translation")%>
              </label>
         
                <input id="translation_selection_mode_en_newer" name="selection_mode" type="radio" value="en_newer"  
                    <%=initialise_selection_mode_radio_buttons("en_newer", params["selection_mode"])%>/>
                 <label for="translation_selection_mode_en_newer"><%=tlabel("selection_mode_en_newer", "translation")%>
              </label>
              
                <input id="translation_selection_mode_both_untranslated_and_en_newer" name="selection_mode" type="radio" value="both_untranslated_and_en_newer" 
                   <%=initialise_selection_mode_radio_buttons("both_untranslated_and_en_newer", params["selection_mode"])%>/>
                <label for="translation_selection_mode_both_untranslated_and_en_newer">   <%=tlabel("selection_mode_untranslated_and_en_newer", "translation")%>
                
              </label>
    </div>  
    <fieldset class="inputs">
      <ol>
      
      <li class="string optional" id="translation_language_id_input">
         <label for="criterion_cav_id", class="criteria-label" ><%=tlabel("calmapp_version", "translation")%></label>
         <%=select_tag(  :operator_cav_id, options_for_select(operators_2_options(equal_operator), 
             params[:operator_cav_id]),{:include_blank=> false,:class=>'criteria-operators-select', :readonly=>true} )%> 
         <%=select_tag( :criterion_cav_id, options_from_collection_for_select(CalmappVersion.all, "id","description", 
               params[:criterion_cav_id]), {:include_blank=> true})%>
      </li>
      
      <li class="string optional" id="translation_language_id_input">
         <label for="criterion_iso_code", class="criteria-label" ><%=tlabel("iso_code", "translation")%></label>
         <%=select_tag(  :operator_iso_code, options_for_select(operators_2_options(equal_operator), 
              params[:operator_iso_code]),{:include_blank=> false,:class=>'criteria-operators-select', :readonly=>true} )%> 
         <%=select_tag( :criterion_iso_code, options_from_collection_for_select(TranslationLanguage.translators_language_select(current_user), "iso_code","full_name", 
              params[:criterion_iso_code]), {:include_blank=> true})%>
           
      </li>
       <li class="string optional" id="translation_dot_key_code_input">
         <label for="criterion_dot_key_code", class="criteria-label" ><%=tlabel("dot_key_code", "translation")%></label>
         <%=select_tag(  :operator_dot_key_code, options_for_select(operators_2_options(Translation.search_dot_key_code_operators), 
             params[:operator_dot_key_code]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} )%> 
         <%=text_field_tag( :criterion_dot_key_code, params[:criterion_dot_key_code], :style=>"width : 300px;")%>   
      </li> 
       <li class="string optional" id="translation_translation_input">
           <label for="criterion_translation", class="criteria-label"><%=tlabel("translation", "translation")%></label>
           <%=select_tag(  :operator_translation, options_for_select(operators_2_options(Translation.search_translation_operators), 
               params[:operator_translation]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} )%> 
           <%=text_field_tag( :criterion_translation, params[:criterion_translation], :style=>"width : 300px;")%>   
      </li>
    
     </ol> 
   </fieldset>
   <!--%end%-->  
      <%= submit_tag "Search", :name => nil %>
    
  <%end%>

</div>


<%= twill_paginate %>
<table class="data" style="table-layout: fixed; width: 100%; border-color:darkgoldenrod;">
  <thead class="ui-widget-header" style = "color:black">
  <tr class="dataheader">

    

    <!--th class ="dataheader" style="display:< %=full_key_display%>;"> <%=tlabel('dot_key_code', 'translation') %></th-->
    <th class ="dataheader" style="display:<%=wrapped_key_display%>;  width:20%; font-size:1.1em;"><%=tlabel('dot_key_code', 'translation') %></th>
    <th class ="dataheader"  style= "font-size:1.1em;"><%=tlabel('en_translation', 'translation') %></th>
    <!--th class ="dataheader" style="display:<%=short_key_display%>;" ><%=tlabel('dot_key_code', 'translation') %></th -->
   
    <th class ="dataheader" style= "font-size:1.1em;"><%= (@translations.empty? ? '' : @translations[0].attributes["language"] + " ") + tlabel('translation', 'translation') %></th>
     
    <!--th class="linkheader"></th>
    <th class="linkheader"></th-->
    
  </tr>
</thead>
  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% editable_cell_class = "best_in_place"%>
<!-- < % i = 0 %>  -->
<tbody class="ui-widget-content">
  <% @translations.each do |trans| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>"  id = '<%= dom_id(trans)%>'>
      <td class="<%= cell_class%>" style="word-wrap: break-word;" ><span style="max-width:20px;"><%= trans.dot_key_code %></span></td>
      <!--td class="< %= cell_class %>" style="display:< %=short_key_display%>; ">< %= dot_key_code_last_key(translation.dot_key_code) %></td -->
      <td class="<%= cell_class%>" style="max-width:40%;word-wrap: break-word;" data-tooltip = "<%=translation_tooltip(trans.attributes)%>"> <%= format_english(trans.attributes) %></td>
      <!-- you cannot give this td below a class. It messes up bip -->
      <td id= '<%(best_in_place?(trans) ? "best_in_place" : "special-editor")%>'  style="max-width:40%;">
        <% if best_in_place?(trans) then%>
           <%options = {:url => translation_path(trans.id),:as=> input_control(trans.attributes),:ok_button=>"Save", 
             :ok_button_class=> "ok", 
             :cancel_button=>"Cancel", :cancel_button_class => "cancel",
             :place_holder=>"Click to edit", :html_attrs=> html_attrs(trans.attributes)}%>
            <% if input_control(trans.attributes)==:select then 
               options[:collection]= collection?(trans.attributes)
               #binding.pry
               end%>   
            <%= best_in_place(trans, :translation, options) %>
          <!--%= best_in_place(trans, :translation)% -->
         <%elsif not trans.attributes["editor"] == nil then%>
         <!-- ARRAY ORDER EDITOR -->
          <!--a id = '<%=trans.dot_key_code%>' class = '<%="special_editor " + special_editor_name(trans.attributes)%>' 'href = '#' ><%= trans.translation%></a -->
          <span id = '<%=trans.dot_key_code%>' class = '<%="special_editor"%>' style = "color: blue; text_decoration: underline;  word-wrap: break-word;"><%= trans.translation%></span>
          
          <%= form_for trans, as: :translation, url: translation_path(trans), method: :patch, remote: true,  html: { class: "edit", id: "edit_translation" } do |f| %>
             <%=   f.text_field(:translation, :id => "translation_translation", :style=> "display:none") %>
             <%= text_field_tag("editor",  "#{trans.attributes['editor']}", :style=> "display:none")%>
             <%= text_field_tag("original_translation",  "#{trans.attributes['translation']}", :style=> "display:none")%>
             <%= text_field_tag("dot_key_code",  "#{trans.attributes['dot_key_code']}", :style=> "display:none")%>
             
             <%= text_field_tag("english",  "#{trans.attributes['en_translation']}", :style=> "display:none")%>
             <%if  trans.attributes["editor"] == 'array_order' then %>
               <ul id= 'sortable' style="list-style: none; margin: 3px; padding: 3px;"></ul> 
             <% elsif trans.attributes["editor"] == 'array' || trans.attributes["editor"] == 'array_first_element_null' then%>
               <table id = 'array-special-editor'> </table> 
             <%end%>
             <div id ="special-editor-hints" style="display:none;"> <%= t($FH + "translation." + special_editor_name(trans.attributes)) %></div>
             <br> 
             <%= f.submit t($FA + 'save'), :id=>"ok-special-editor", :style=> "display:none"%>
             <%=button_tag t($FA +  "cancel"), :type=>"button", :id=> 'cancel-special-editor', :style=> "display:none"%> 
             <%end #form %>
         <%else%>
           <!-- OTHER EDITOR -->
           
          <span id = '<%=trans.dot_key_code%>' class = '<%="special_editor " + special_editor_name(trans.attributes)%>' ><%= trans.attributes["translation"]%></span>
           
          <%= form_for trans, as: :translation, url: translation_path(trans), method: :patch, remote: true,  html: { class: "edit", id: "edit_translation" } do |f| %>
          <!--%=       f.text_field(:id, :style => "display:inline") %>
             <%=   f.text_field(:translation) %>
             <%= text_field_tag("editor", value = "not_bip")%>
             <%= text_field_tag("original_translation", value = "#{trans.attributes['translation']}")%>
             <%= text_field_tag("dot_key_code", value = "#{trans.attributes['dot_key_code']}")%>
                <%=button_to("Save", trans) %><button id= 'cancel-special-editor'>Cancel</button>

          < div id = '<%="#{trans.attributes['dot_key_code']}"%>' class = 'special_editor <%="#{special_editor_name(trans.attributes)}"%>' style = 'display:none;'>

       <!--input id = 'original_translation' type= 'text' value ='< %="#{trans.attributes['translation']}"%>' style='display:inline;' readonly='readonly'>       
     <input id = 'dot_key_code' type= 'text' value ='< %="#{trans.attributes['dot_key_code']}"%>' style='display:inline;' readonly='readonly' -->
          <%end #form %>
          
         <%end #elsif %>
         
      </td>
    
  <!-- <!--td class="< %= link_cell_class %>">< %= tlink_to  'edit', edito_translation_path + '?dot_key_code_no_lang=' +dot_key_code_no_lang(translation.dot_key_code) %></td> -->
    <!-- <td class="< %= link_cell_class %>">< %= tlink_to 'destroy',  translation , :confirm => 'delete.are_you_sure', :model => "translation", :value=>('Index: '+ translation.dot_key), :method => :delete %></td> -->
  </tr>
  </tbody>
  <!-- >< % i+=1%> -->
<% end # each trans%>
</table>

<!--div id="special-editor-background" class="special-editor-background" style="display:none; position:absolute;" </div -->
  
  

<%= twill_paginate %>
