<p id="notice"><%= notice %></p>

<script type="text/javascript"> 
  $().ready(function(){
    $('.best_in_place').best_in_place();
  });
</script>

<p>
  <b>Dot Key Code</b>
  <%= @translation.dot_key_code%>
</p>
<p>
  <b>Translation</b>
  <%= @translation.translation%>
</p>



<%if has_role? :translation_write%>
<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%end%>
<%= link_to t("formtastic.actions.back"), translations_path %>
