<p id="notice"><%= notice %></p>



<p>
  <b>Dot Key Code</b>
  <%= @translation.dot_key_code%>
</p>
<p>
  <b>Translation</b>
  <%= @translation.translation%>
</p>



<%if has_role? :translations_create%>
<%= link_to 'Edit', edit_translation_path(@translation) %> | <%=link_to "New Translation", new_translation_path%>
<%end%>
<%if has_role? :translations_write%>
<%= link_to t("formtastic.actions.back"), translations_path %>
<%end%>
