<p class="pageheading"><%=t("headings.listing.heading", :model=>t($ARM + "region.other") )%></p>

<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=t($FL+'name') %></th>

    <th class ="dataheader"><%=t($FL+'parent_id') %></th>

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

<% cell_class = "data" %>
<% link_cell_class="link"%>

<% @regions.each do |region| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >

    <td class="<%= cell_class %>"><%= region.name %></td>
		 

    <td class="<%= cell_class %>"><%= region.parent_id %></td>
		 

    
    <td class="<%= link_cell_class %>"><%= tlink_to  'edit', edit_region_path(region) %></td>
    <td class="<%= link_cell_class %>"><%= tlink_to 'destroy',  region , :confirm => 'delete.are_you_sure', :model => "region",:count=>1, :method => :delete %></td>
  </tr>
  	
<% end %>
</table>
<%= twill_paginate %>

<br />
<%= link_to t('headings.new.heading', :model=> t($ARM + 'region')), new_region_path %>