.pageheading
  = "#{t("headings.new.heading", :model=>t($ARM + "organisation", :count=>1))}  will belong to #{@location.parent.name}"
= render :partial => "shared/location_form"

= link_to t("actions.back"), location_tree_path(@location.parent)
