<%=t("listing", :model=>"whiteboard_type", :count=>10 )%>
<% if WhiteboardType.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">
    <th class ="dataheader"><%=t($FL+"name_english")%></th>
    <th class ="dataheader"><%=t($FL+"translation_code")%></th>
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

<% cell_class = "data" %>
<% link_cell_class="link"%>
<% @whiteboard_types.each do |whiteboard_type| %>

  <tr class = "<%= cycle('dataeven', 'dataodd')%>" id = '<%= dom_id(whiteboard_type)%>'  >
    <td class="<%= cell_class %>" ><%= whiteboard_type.name_english %></td>
    <td class="<%= cell_class %>" ><%= whiteboard_type.translation_code %></td>
    <%if has_role? :whiteboard_types_write%>
    <%= link_edit(edit_whiteboard_type_path(whiteboard_type), 'whiteboard_type')%>
    <%end%>
    <%if has_role? :whiteboard_types_destroy%>
    <%= link_destroy( whiteboard_type, :whiteboard_types ) %>
    <%end%>
  </tr>
 	
<% end %>
</table>
<%= twill_paginate %>
<br />
<% end %>
<%if has_role? :whiteboard_types_create%>
<%= tlink_to('new_model', new_whiteboard_type_path, :model=> 'whiteboard_type', :count=>1) %>
<%end%>
