%h3= "Choose action"
-# %p Parent Id: #{@location.parent_id}, Id: #{@location.id}


%h5= "Modify #{@location.to_s}"
%ul
  - if permitted_to? :edit, @location
    %li= link_to "Edit", edit_location_path(@location), :method => :get
  - if @location.deletable? and permitted_to? :destroy, @location
    %li= link_to "Delete", location_path(@location), :method => :delete, :confirm => "Delete #{@location.to_s}. Are you sure?", :title => "Confirm"

- if @location.class.name != "Venue"
  %h5= "Add a child to #{@location.to_s}"
  %ul
    - if @location.allow_area_child? and permitted_to? :create, Area.new
      %li= link_to "Add an Area", new_child_area_path(@location), :method => :get
    - if @location.allow_venue_child? and permitted_to? :create, Venue.new
      %li= link_to "Add a Venue", new_child_venue_path(@location), :method => :get
    - if @location.allow_organisation_child? and permitted_to? :create, Organisation.new
      %li= link_to "Add an Organisation",new_child_organisation_path(@location), :method => :get
    - if @location.allow_server_child? and permitted_to? :create, Server.new
      %li= link_to "Add a Server",new_child_server_path(@location), :method => :get

<p>
= link_to t("actions.back"), location_tree_index_path
-# %h5 params #{params}

