<p id="notice"><%= notice %></p>



<p>
  <b>Server:</b>
  <%= @redis_instance.host %>
</p>
<p>
  <b>Port:</b>
  <%= @redis_instance.port %>
</p>

<%if has_role? :redis_instances_write%>
  <%= link_to 'Edit', edit_redis_instance_path(@redis_instance) %> |
<%end%>
<%= link_to t("formtastic.actions.back"), redis_instances_path %>
