<p id="notice"><%= notice %></p>

<p>
  <b>Iso code:</b>
  <%= @language.iso_code %>
</p>

<p>
  <b>Name:</b>
  <%= @language.name %>
</p>

<%if has_role? :languages_write%>
<%= link_to 'Edit', edit_language_path(@language) %> |
<%end%>
<%= link_to t("formtastic.actions.back"), languages_path %>
