<%=theading("listing", :model=>"calmapp_version",:count=>10 )%>
<% if CalmappVersion.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
  <%= twill_paginate %>
  <table class="data">
    <tr class="dataheader">
      
      <th class ="dataheader"><%=tlabel('calmapp_id',  'calmapp_version') %></th>
      <th class ="dataheader"><%=tlabel('version','calmapp_version') %></th>
      <th class="linkheader"></th>
      <%if has_role? :redisdbalter, :redis_databases%>
      <th class="linkheader"></th>
      <%end%>
      <%if has_role? :deepcopy, :calmapp_versions%>
        <th class="linkheader"></th> 
      <%end%>
      <% if has_role?(:deepdestroy, :calamapp_version)%>
      <th class="linkheader"></th>
      <%end%>  
    </tr>
  
    
  <% cell_class = "data" %>
  <% link_cell_class="link"%>  
  <% @calmapp_versions.each do |calmapp_version| %>
      <%name = Calmapp.find(calmapp_version.calmapp_id).name; version = calmapp_version.version;%>
    <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(calmapp_version)%>'>
      <td class="<%= cell_class %>"><%= name %></td>
      <td class="<%= cell_class %>"><%= version %></td>
      <%= link_edit   edit_calmapp_version_path(calmapp_version), "calmapp_version", {:edit=> "edit_and_change_languages"} %>
      <%if has_role? :redisdbalter, :redis_databases%>
       <td class="<%= link_cell_class %>"><%= tlink_to "redisdbalter", version_alterredisdb_path(calmapp_version)%></td>
      <%end%> 
      <%if has_role? :deepcopy, :calmapp_versions%>
        <td class="<%= link_cell_class %>"><%= tlink_to "deepcopyparams", version_deep_copy_params_path(calmapp_version)%> </td>
      <%end%>
      <!--td class="< %= link_cell_class %>">< %= tlink_to "version_redis", redis_databases_path %></td -->
      <!--td class="< %= link_cell_class %>">< %= tlink_to "version_redis", calmapp_versions_redis_databases_path + "?criterion_calmapp_version_id=" + calmapp_version.id.to_s + "&operator_calmapp_version_id=eq"%></td -->
      
      <!--td class="< %= link_cell_class %>"
       < %if not calmapp_version.redis_databases.empty?%> 
        < %= tlink_to "version_redis", calmapp_version_publish_path(calmapp_version.id.to_s)%>
      < %else%>
        <div>No publication databases setup</div> 
      < %end% >
      </td -->
      <% if has_role?(:deepdestroy, :calamapp_version)%>
        <%=link_destroy calmapp_version, "calmapp_version", {:data=>{:confirm=>"delete.destroy_translation_data"}, :app=>name, :version=>version}%>
      <%end%>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%= tlink_to 'new_model', new_calmapp_version_path, :model=> 'calmapp_version'%>