<%=theading("listing", :model=>"calmapp_version",:count=>10 )%>
<%=text_field_tag("page-name", "cav", :style=> "display:none")%>
<% if CalmappVersion.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
  <%= twill_paginate %>
  <table class="data">
    <tr class="dataheader">
      
      <th class ="dataheader"><%=tlabel('calmapp_id',  'calmapp_version') + "ddd" %></th>
      <th class ="dataheader"><%=tlabel('version','calmapp_version') %></th>
      <%if has_role? :calmapp_versions_write%>
        
        <th class="linkheader"></th>
      <%end%>
      <%if has_role? :calmapp_versions_redisdbalter%>
        <th class="linkheader"></th>
      <%end%>
      <%if has_role?  :calmapp_versions_deepcopy%>
        <th class="linkheader"></th> 
      <%end%>
      <% if has_role?(:calmapp_versions_deepdestroy)%>
        <th class="linkheader"></th>
      <%end%>  
    </tr>
  
    
  <% cell_class = "data" %>
  <% link_cell_class="link"%>  
  <% @calmapp_versions.each do |calmapp_version| %>
      <%name = Calmapp.find(calmapp_version.calmapp_id).name; version = calmapp_version.version;%>
    <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(calmapp_version)%>'>
      <td class="<%= cell_class %>"><%= name %></td>
      <td class="<%= cell_class %>"><%= version %></td>
      <%if has_role? :calmapp_versions_write%>
        <%= link_edit   edit_calmapp_version_path(calmapp_version), "calmapp_version", {:edit=> "edit_and_change_languages"} %>
      <%end%>
      <%if has_role? :calmapp_versions_redisdbalter%>
       <td class="<%= link_cell_class %>"><%= tlink_to "redisdbalter", version_alterredisdb_path(calmapp_version)%></td>
      <%end%> 
      <%if has_role?  :calmapp_versions_deepcopy%>
        <td class="<%= link_cell_class %>"><%= tlink_to "deepcopyparams", version_deep_copy_params_path(calmapp_version)%> </td>
      <%end%>
      
      <% if has_role?(:calmapp_versions_deepdestroy)%>
        <td class="<%= link_cell_class %>"><%=button_to(t($FA + "deepdestroy"), version_deepdestroy_path(calmapp_version.id), 
                :method => :delete, :remote=> true, 
                :data=>{:confirm=>t($MS + "delete.destroy_translation_data." + $W, :app_version => calmapp_version.description),
                            :"tooltip" => t($FH + 'calmapp_version.deepdestroy', :version_name=>calmapp_version.description) }
                        )%></td>
      <%end%>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%if has_role? :calmapp_versions_create%>
  <%= tlink_to 'new_model', new_calmapp_version_path, :model=> 'calmapp_version'%>
<%end%>

