<%=theading("listing", :model=>"calmapp_version",:count=>10 )%>
<% if CalmappVersion.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
  <%= twill_paginate %>
  <table class="data">
    <tr class="dataheader">
      <th class ="dataheader"><%=tlabel('calmapp_id',  'calmapp_version') %></th>
      <th class ="dataheader"><%=tlabel('version','calmapp_version') %></th>
      <th class="linkheader"></th>
      <th class="linkheader"></th>
      <th class="linkheader"></th> 
      <th class="linkheader"></th>  
    </tr>
  
    
  <% cell_class = "data" %>
  <% link_cell_class="link"%>  
  <% @calmapp_versions.each do |calmapp_version| %>
      <%name = Calmapp.find(calmapp_version.calmapp_id).name; version = calmapp_version.version;%>
    <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(calmapp_version)%>'>
      <td class="<%= cell_class %>"><%= name %></td>
      <td class="<%= cell_class %>"><%= version %></td>
      <%= link_edit   edit_calmapp_version_path(calmapp_version), "calmapp_version", {:edit=> "edit_and_change_languages"} %>
      <td class="<%= link_cell_class %>"><%= tlink_to "version_alterwithredisdb", calmapp_version_alterwithredisdb_path(calmapp_version)%></td>
      <td class="<%= link_cell_class %>"><%= tlink_to "version_redis", redis_databases_path%></td>
      <%=link_destroy calmapp_version, "calmapp_version", {:data=>{:confirm=>"delete.destroy_translation_data"}, :app=>name, :version=>version}%>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%= tlink_to 'new_model', new_calmapp_version_path, :model=> 'calmapp_version'%>