<p id="notice"><%= notice %></p>

<p>
  <b>Calm Application:</b>
  <%= @calmapp_version.calmapp_id %>
</p>

<p>
  <b>Version:</b>
  <%= @calmapp_version.version %>
</p>



<%if has_role? :calmapp_versions_write%>
<%= link_to 'Edit', edit_calmapp_version_path(@calmapp_version) %> |
<%end%>
<%= link_to t("formtastic.actions.back"), calmapp_versions_path %>
