<!--%= semantic_form_for(@user, :method => "post",:url=> user_create_path) do |f| % -->
<%if @user.new_record? then
    path = user_create_path
  else  
    path = user_update_path(@user.id)
  end%>
<%= semantic_form_for(@user, :url => path, html: {:autocomplete=>'off'}) do |f| %>
  <%= f.inputs do %>
      <%=render :partial => 'shared/user_basic_attributes', :locals=>{:f=>f}%>

      <%if f.object.invited_by_id %>
        <li><label style = "width:25%;">Inviter</label><%=User.find(f.object.invited_by_id).actual_name%></li>
      <%end%>
      <%=f.input :responds_to_contacts %>
      
      <li><%=f.label $ARA + "profiles", {:style=>"width:25%;"}%>
        <%profile_cb_count = 0%>
        <%profile_cbs_per_row = 4%>
        <table class = 'checkboxes'>  
        <%=f.collection_check_boxes( :profile_ids, Profile.all, :id, :name) do |b| %>
           <%if profile_cb_count%profile_cbs_per_row == 0 && profile_cb_count != 0%>
             </tr>
           <%end%>
           <%if profile_cb_count%profile_cbs_per_row == 0%>
             <tr class = 'multi-checkboxes'>
           <%end%>
            <td class = 'multi-checkbox'>
              <%=  b.label(:"data-value" => b.value, :style=>"width:auto; padding-right:5px" ) { 
                    b.check_box + b.text
                  }
               %>
              <%profile_cb_count += 1%>
            </td>    
         <%end%>
         <%if profile_cb_count%profile_cbs_per_row != 0%>
             </tr>
         <%end%>
        </table>
        <p class="inline-hints"><%= t($FH + "user.profiles") %></p>
      </li> 
      
      <li><%=f.label :can_translate, t($ARA + "user.can_translate"), {:style=>"width:25%;"}%>
        
        <label for="translator"><%= f.check_box "translator", :id=> 'translator1'%>
          <%=t($ARA + "user.translator")%>
          </label>
       </li>

       <li id='translation-jobs-list' class = 'invisible-visible'>
         <label> <%=t($ARA + "user.translator_jobs")%></label>   
          <%version_language_cb_count = 0%>
        <%version_language_cbs_per_row = 4%>
        <table style = 'margin-left:25%;'>  
        <%=f.collection_check_boxes( :translator_cavs_tl_ids, CalmappVersionsTranslationLanguage.permitted_for_translators, :id, :description) do |b| %>
           <%if version_language_cb_count%version_language_cbs_per_row == 0 && version_language_cb_count != 0%>
             </tr>
           <%end%>
           <%if version_language_cb_count%version_language_cbs_per_row == 0%>
             <tr class = 'multi-checkboxes'>
           <%end%>
            <td class = 'multi-checkbox'>
              <%=  b.label(:"data-value" => b.value, :style=>"width:auto; padding-right:5px" ) { 
                    b.check_box + b.text
                  }
               %>
              <%version_language_cb_count += 1%>
            </td>    
         <%end%>
         <%if version_language_cb_count%version_language_cbs_per_row != 0%>
             </tr>
         <%end%>
        </table>
        <p class="inline-hints"><%= t($FH + "user.translator_jobs") %></p>
      </li>  
       
       
       
       <li><%=f.label :can_develop, t($ARA + "user.can_develop"), {:style=>"width:25%;"}%>
        
        <label for="developer"><%= f.check_box "developer", :id=> 'developer1'%>
          <%=t($ARA + "user.developer")%>
          </label>
       </li>
       <li id='development-jobs-list' class = 'invisible-visible'>  
         <label><%=t($ARA + "user.development_jobs")%></label> 
          <%developer_cb_count = 0%>
        <%developer_cbs_per_row = 4%>
        <table style = 'margin-left:25%;'>  
        <%=f.collection_check_boxes( :developer_cavs_tl_ids, CalmappVersionsTranslationLanguage.permitted_for_developers, :id, :description) do |b| %>
           <%if developer_cb_count%developer_cbs_per_row == 0 && developer_cb_count != 0%>
             </tr>
           <%end%>
           <%if developer_cb_count%developer_cbs_per_row == 0%>
             <tr class = 'multi-checkboxes'>
           <%end%>
            <td class = 'multi-checkbox'>
              <%=  b.label(:"data-value" => b.value, :style=>"width:auto; padding-right:5px" ) { 
                    b.check_box + b.text
                  }
               %>
              <%developer_cb_count += 1%>
            </td>    
         <%end%>
         <%if developer_cb_count%developer_cbs_per_row != 0%>
             </tr>
         <%end%>
        </table>
        <p class="inline-hints"><%= t($FH + "user.developer_jobs") %></p>
      </li>  
      
      <li><%=f.label :can_app_administer, t($ARA + "user.can_app_administer"), {:style=>"width:25%;"}%>
        
        <label for="administrator"><%= f.check_box "application_administrator", :id=> 'administrator1'%>
          <%=t($ARA + "user.application_administrator")%>
          </label>
       </li>
       <li id='administration-jobs-list' class = 'invisible-visible'>  
         <label><%=t($ARA + "user.admin_jobs")%></label> 
          <%admin_cb_count = 0%>
        <%admin_cbs_per_row = 4%>
        <table style = 'margin-left:25%;'>  
        <%=f.collection_check_boxes( :administrator_cavs_tl_ids, CalmappVersionsTranslationLanguage.permitted_for_administrators, :id, :description) do |b| %>
           <%if admin_cb_count%admin_cbs_per_row == 0 && admin_cb_count != 0%>
             </tr>
           <%end%>
           <%if admin_cb_count%admin_cbs_per_row == 0%>
             <tr class = 'multi-checkboxes'>
           <%end%>
            <td class = 'multi-checkbox'>
              <%=  b.label(:"data-value" => b.value, :style=>"width:auto; padding-right:5px" ) { 
                    b.check_box + b.text
                  }
               %>
              <%admin_cb_count += 1%>
            </td>    
         <%end%>
         <%if admin_cb_count%admin_cbs_per_row != 0%>
             </tr>
         <%end%>
        </table>
        <p class="inline-hints"><%= t($FH + "user.admin_jobs") %></p>
      </li>
  <% end %>

  <%= f.actions do %>
    <%= f.action(:submit) %>
  <% end %>
<%end%>


<script>
  
</script>
  
