<p class="pageheading"><%= t("headings.listing.heading", :model=>t($ARM + "user", :count=>2) ) %></p>
 
 <div id = 'data-empty' style = 'display:none'><%= @users.empty?.to_s %></div>
 
<button id="showHideCriteria" type='button'>x</button>
<div id='criteria' class="criteria" >
<%= form_tag users_path, :method => 'get', :class=>'formtastic' do %>
  
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div id="selection_mode" class = "radio">
    	 <fieldset class ='radios' style='border-style:solid; border-color:gray; border-width:1px; padding:2px;'>
            <legend><span>Type of Search</span></legend>
               <label class="nowrap" for="user_selection_mode_all">
                <input id="user_selection_mode_all" name="selection_mode" type="radio" value="all" 
                 <%=initialise_selection_mode_radio_buttons("all", params["selection_mode"])%>/>   
                 <%=tlabel("selection_mode_all", "user")%>          
              </label>
         
               <label class="nowrap" for="user_selection_mode_invitee">
               	<input id="user_selection_mode_invitee" name="selection_mode" type="radio" value="invitee"  
                  <%=initialise_selection_mode_radio_buttons("invitees", params["selection_mode"])%>/> 
                  <%=tlabel("selection_mode_invitee", "user")%>                
              </label>
         
              <label class="nowrap" for="user_selection_mode_valid"> 
              	<input id="user_selection_mode_valid" name="selection_mode" type="radio" value="valid"  
                    <%=initialise_selection_mode_radio_buttons("valid_users", params["selection_mode"])%>/> 
               <%=tlabel("selection_mode_valid", "user")%>      
              </label>
            </fieldset>  
                
    </div> 
    <fieldset class="inputs" style= "margin-top: 4px;">
      <ol class = "criteria"> <!--#style="display:table" class= "criteria"-->
      <li class="string optional flex-container" id="user_email_input"  > <!--#style="display:table-row;"-->
         <label for="criterion_email", class="criteria-label flex-item"  > <!--#style="float:left; width:200px; display:table-cell;"-->
         	<%=tlabel("email", "user")%></label>
         <%=select_tag(  :operator_email, options_for_select(operators_2_options(easy_string_operators), 
             params[:operator_email]),{:include_blank=> true,:class=>'criteria-operators-select flex-item', :readonly=>true} )%><!--#, :style=>"float:left; width:200; display:table-cell;" -->
         <%=text_field_tag( :criterion_email, params[:criterion_email], :class=>"criterion-text flex-item")%>  <!-- #, :style=>"display:table-cell;"-->
        
      </li>
      
      <li class="string optional  flex-container" id="user_username_input" > <!--style="width:200px; display:table-row;"-->
         <label for="criterion_username", class="criteria-label flex-item" ><%=tlabel("username", "user")%></label><!--style="display:table-cell;"-->
         <%=select_tag(  :operator_username, options_for_select(operators_2_options(easy_string_operators), 
             params[:operator_username]),{:include_blank=> true,:class=>'criteria-operators-select flex-item', :readonly=>true} )%> 
         <%=text_field_tag( :criterion_username, params[:criterion_username], :class=>"criterion-text flex-item")%>   <!--, :style=>"display:table-cell;"-->
        
      </li>
      <li class="string optional  flex-container" id="user_username_input" > <!--style="width:200px; display:table-row;"-->
         <label for="criterion_actual_name", class="criteria-label flex-item"><%=tlabel("actual_name", "user")%></label> <!-- style="display:table-cell;-->
         <%=select_tag(  :operator_actual_name, options_for_select(operators_2_options(easy_string_operators), 
             params[:operator_actual_name]),{:include_blank=> true,:class=>'criteria-operators-select flex-item', :readonly=>true} )%> <!--, :style=>"display:table-cell; width:200px; float:left;"-->
         <%=text_field_tag( :criterion_actual_name, params[:criterion_actual_name], :class=>"criterion-text flex-item")%>   <!--, :style=>"display:table-cell;"-->
      </li>
      </ol>
     </fieldset>              
    <%= submit_tag "Search", :name => nil %>
    
  <%end%> 
</div>           
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">
    <th class="dataheader"><%= t($ARA+'user.username') %></th>
    <th class="dataheader"><%= t($ARA+'user.email') %></th>
    <th class="dataheader"><%= t($ARA+'user.actual_name') %></th>
    <th class="linkheader">
    </th>
    <th class="linkheader">
    </th>
    <th class="linkheader">
    </th>
    
    <th class="linkheader">
    </th>
  </tr>
  <% cell_class = "data" %>
  <% link_cell_class="link" %>
  
  <% @users.each do |user| %>
    <tr class = '<%=cycle('dataeven', 'dataodd')%>' id = '<%= dom_id(user)%>' > 
      <td class = '<%=cell_class%>'><%= user.username %></td>
      <td class = '<%=cell_class%>'><%= user.email %></td>
      <td class = '<%=cell_class%>'><%= user.actual_name %></td>
      <!--td class = '<%=link_cell_class%>'>< %= tlink_to 'edit_permissions', permissions_path(user) %></td -->
      <%if has_role? :users_destroy%>
      <td class = '<%=link_cell_class%>'>
        <%= tlink_to 'reset_password', edit_password_path(user) %>
      </td>
      <%end%>
      <!-- The unlock link will only appear in the table if the user record is locked -->
      
      <%if has_role? :users_write%>
      <%=link_edit(user_edit_path(user), :user)%>
      <%end%>
      <%if has_role? :users_destroy%>
      <td class = '<%=link_cell_class%>'><%= unlock_link(user) %></td>
      <%end%>
      <%if has_role? :users_destroy%>
      <td class = '<%=link_cell_class%>'><%= tlink_to("destroy", destroy_user_path(user), {:navigate=>false, :method=>'delete', :remote=>true, :data=>{:confirm=>tmessage( 'delete.are_you_sure', $W, {:model=>user.username}) }})%></td>
      <%end%>
    </tr>
    <%end%>
</table>
<%= twill_paginate %>
<br>

<%if has_role? :users_create%>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'user', :count=>1)), new_user_path %> |
<%end%>
<%if has_role? :users_invite%> 
<%= tlink_to "new_invitation", new_user_invitation_path%></li>
<%end%>
<script>
$(document).ready(function(){
  $(function(){
    $( "div#selection_mode" ).buttonset();
  });
)};
</script>