<p class="pageheading"><%= t("headings.listing.heading", :model=>t($ARM + "user", :count=>2) ) %></p>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">
    <th class="dataheader"><%= t($ARA+'user.username') %></th>
    <th class="dataheader"><%= t($ARA+'user.email') %></th>
    <th class="dataheader"><%= t($ARA+'user.actual_name') %></th>
    <th class="linkheader">
    </th>
    <th class="linkheader">
    </th>
    <th class="linkheader">
    </th>
    
    <th class="linkheader">
    </th>
  </tr>
  <% cell_class = "data" %>
  <% link_cell_class="link" %>
  
  <% @users.each do |user| %>
    <tr class = '<%=cycle('dataeven', 'dataodd')%>' id = '<%= dom_id(user)%>' > 
      <td class = '<%=cell_class%>'><%= user.username %></td>
      <td class = '<%=cell_class%>'><%= user.email %></td>
      <td class = '<%=cell_class%>'><%= user.actual_name %></td>
      <!--td class = '<%=link_cell_class%>'>< %= tlink_to 'edit_permissions', permissions_path(user) %></td -->
      <td class = '<%=link_cell_class%>'><%= tlink_to 'reset_password', edit_password_path(user) %></td>
      <!-- The unlock link will only appear in the table if the user record is locked -->
      
      
      <%=link_edit(user_edit_path(user), :user)%>
      <td class = '<%=link_cell_class%>'><%= unlock_link(user) %></td>
      <td class = '<%=link_cell_class%>'><%= tlink_to("destroy", destroy_user_path(user), {:navigate=>false, :method=>'delete', :remote=>true, :data=>{:confirm=>tmessage( 'delete.are_you_sure', $W, {:model=>user.username}) }})%></td>
    </tr>
    <%end%>
</table>
<%= twill_paginate %>
<br>

<%= link_to t('headings.new.heading', :model=> t($ARM + 'user', :count=>1)), new_user_path %> | <%= tlink_to "new_invitation", new_user_invitation_path%></li>

