  
  <div class="<%= 'nested-fields ' + cycle('dataeven', 'dataodd') + (f.object.new_record? ? (' new'):('')) %>" id="table-row" style = "display:table-row">
    
        <div style = "display:table-cell" > 
            <%= f.collection_select(:release_status_id, ReleaseStatus.all, :id,:status, :include_blank=> true) %>
        </div>
        <div style = "display:table-cell" > 
          <%= f.collection_select(:redis_instance_id,RedisInstance.all, :id, :description,  {:include_blank=>true}, {:id => 'redis_instance_id'}) %>
        </div>
           
        <div style = "display:table-cell" >                  
          <%=f.text_field(:redis_db_index, :id=>"redis_db_index", :readonly=>'readonly', :id=> 'redis_db_index') %>
          <%= f.semantic_errors :redis_db_index %>
        </div>
        <div style = "display:table-cell" >
          <!--%= f.check_box(:used_by_publishing_translators,  {:class => "translator_publishing", :checked => translator_publishing?(f.object).to_s}, "true", "false")%-->
          <!--%= check_box_tag "calmapp_version[redis_databases_attributes][]", "used_by_publishing_translators", ((translator_publishing?(f.object) == "1") ? true : false) , {:class => "translator_publishing"} %-->

          <%= f.check_box :used_by_publishing_translators, {:class => "translator_publishing", :checked => (!cav_redis_db_id.nil? && cav_redis_db_id == f.object.id) ? "checked" : "false"}%>
        </div>  
       <div style = "display:table-cell" >
            <%=link_to_remove_association( t($FA + 'remove_redis_database'), f, { wrapper_class: 'nested-fields' })%>
       </div>
  </div>


