<script language="javascript" type="text/javascript">
        //<!-- This script sets up dual list boxes with the appropriate ids -->
        /*
        $(function() {
            $.configureBoxes({box1View : "availableLanguagesBox",
                              box2View : "selectedLanguagesBox",
                              box1Filter : "availableLanguagesFilter",
                              box2Filter : "selectedLanguagesFilter",
                              box1Clear : "availableLanguagesFilterClear",
                              box2Clear : "selectedLanguagesFilterClear",
                              box1Counter : "availableLanguagesCounter",
                              box2Counter :  "selectedLanguagesCounter"  });
        });
         //This funcion ensures that all values in the receiving listbox are extracted and written. They must be selected for this.
         $(document).ready(function(){
          deleteBlanksFromSelectBox('#availableLanguagesBox');
         });//end ready

         //This function is necesary to remove a blank that formtastic leaves in the first listbox.
         function deleteBlanksFromSelectBox(boxId){
           $(boxId + " :empty").remove();
         }
         */
    </script>

        <!--div id="calmapp-versions-table" class='nested-fields' style='display:table' -->
        <div id="calmapp-versions-table" class='nested-fields' style='border:1px solid;border-color:grey; margin-left:20px;margin-right:1px margin-top:1px; margin-bottom:1px;padding-top:2px;padding-bottom:2px;"}'>  
                <%= f.inputs do%>
                      <!--%= f.input :version, label: false, required: false, input_html: {style: "margin-left:25%"}% -->
                      <%= f.input :version,  required: true,wrapper_html: {style: "margin-left:20px"}%>
                      <p style="font-size:13px; font-weight:700;margin-left:20px;"><%=t($ARM + "translation_language", :count=>3)%></p>
                      <%= f.semantic_fields_for :calmapp_versions_translation_languages do |cavtl| %> 
                      <!--%= f.semantic_fields_for :translation_languages do |cavtl| %--> 
                           <%TranslationLanguage.order("name ASC").all.each do |tl|%>
                           
                              <%=check_box_tag("calmapp[calmapp_versions][translation_languages][]", tl.id, f.object.translation_languages.include?(tl))%> &nbsp; <%=tl.name%>           
                           <%end%>     
                          <!--%= render :partial=>'calmapp_versions_translation_language_fields', :locals=>{:f=> cavtl}  %-->            
                      <%end%> 
                      
                      <div class='add-tablecell'>
                        
                          <%= link_to_add_association(t($FA + 'add_translation_language'), f, :calmapp_versions_translation_languages, 
                          :partial => 'calmapp_versions_translation_language_fields', :render_options => {:locals => { }}, :style=> "margin-left:20px;font-size: smaller;") %>
                          
                     </div>
                     <span><%= link_to_remove_association t($FA +"remove_version"), f, :style => "font-size: smaller;"   %></span> 
                  <%end%>      
            
                      
                       <!--%= f.input :translation_languages, :as => :check_boxes, :collection => TranslationLanguage.order('name ASC').all  % -->
                       
                       
                 
                <%=f.semantic_errors :calmapp_id%>
                <%=f.semantic_errors :calmapp%>
                   
                   
       </div>
      