      <div class= "<%= 'nested-fields ' + cycle('dataeven', 'dataodd') + (f.object.new_record? ? (' new'):('')) %>" id="table-row" style = "display:table-row">
        <div style = "display:table-cell" > 
          <%= f.text_field :description  %> 
          <%=f.semantic_errors :description%>
        </div>
        <div style = "display:table-cell" > 
           <%if f.object.new_record? %>
             <%=f.file_field :yaml_upload%>
           <%else%>
             <%= f.object.yaml_upload.url %>
           <%end%>
           <%=f.semantic_errors :yaml_upload%>
        </div>
           
        <div style = "display:table-cell" >               
            <%if f.object.new_record?%>
            <ul>
               <%=f.collection_radio_buttons(:duplicates_behavior, UploadChoice.all,  :id, :name) do |b| %>
                 <li> 
                 <%=  b.label(:"data-value" => b.value, :style=>"width:auto; padding-right:5px" ) { 
                        b.radio_button  + b.text 
                   }
                %>
              </li>
             <%end%>
            </ul>   
           <%end%>            
        </div> 
        <div style = "display:table-cell" > 
            <%=link_to_remove_association( t($FA + 'remove_upload'), f, { wrapper_class: 'nested-fields', :"data-tooltip" => "This will remove the file and record of file, but not the translations from the file." })%>
        </div>
           
  </div>