<li class= "nested-fields" >
   <%=f.inputs :name=> t("headings.upload") do%> 
          <%= f.input :description  %>   
           <!--%bottom_border = "border-bottom:thin solid black; padding-bottom:3px"% -->
          <!--%binding.pry% -->
          <%if f.object.new_record? %>
             <%= f.input :yaml_upload, :as =>:file%> 
          <%else%>
          <li style="">
            <label><%=t($ARA + "translations_upload.yaml_upoad_file_path")%></label>
            <span style= "border-style:solid;border-color:lightgray;border-radius:4px;"><%= f.object.yaml_upload.url %></span>
            </li>
          <%end%>
          <%if not f.object.new_record?%>
            <li>
               <a href ="<%= write_yaml_file_to_db_path(f.object.id)%>"><%=t($FA + "write_yaml_to_db") %></a>
            </li>
          <%end%>
           <li>
            <%=link_to_remove_association( t($FA + 'remove_upload'), f, { wrapper_class: 'nested-fields' })%>
           </li> 
           
    <%end%>
 </li>          
