<p class='pageheading'><%=t($H + "calmapp_versions_translation_languages" +".index.heading")%></p>
<% cell_class = "data" %>
<% link_cell_class="link"%> 
<%=text_field_tag("page-name", "cavtl", :style=> "display:none")%>
<%if CalmappVersionsTranslationLanguage.respond_to?( :searchable_attr ) && CalmappVersionsTranslationLanguage.searchable_attr.any? then %>
<button id="showHideCriteria" type='button'>x</button>

<div id = 'data-empty' style = 'display:none'><%= @calmapp_versions_translation_languages.empty?.to_s %></div>
<div id='criteria' class="criteria" >
  <!-- Use form_tag here because we are not going to work with a new AR model. form_tag doesn't work with formtastic either -->
  <!-- See controller#index doc for how to use this stuff below. 
    YOU NEED TO ADD METHODS TO MODEL BEFORE THIS PAGE WILL WORK -->
  <%= form_tag calmapp_versions_translation_languages_path, :method => 'get', :class=>'formtastic' do %>
    <!--    These next 2 hidden fields needed for sorting from column headers -->
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <fieldset class="inputs">
      <ol>
     
    <%if CalmappVersionsTranslationLanguage.searchable_attr.include?("translation_language_id") %>  
      <li class="string optional" id="calmapp_versions_translation_language_translation_language_id_input">
      	  <label for="criterion_translation_language_id" class="criteria-label" >
            <%= tlabel( "translation_language_id", "calmapp_versions_translation_language") %> 
          </label>
          <%=select_tag(  :operator_translation_language_id, options_for_select(operators_2_options(equal_operator), params[:operator_translation_language_id]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} ) %> 
           <!--%=text_field_tag( :criterion_translation_language_id, params[:criterion_translation_language_id])% -->
          <%=select_tag(:criterion_translation_language_id, options_from_collection_for_select(TranslationLanguage.language_select , "id", "full_name", params[:criterion_translation_language_id]), {:include_blank=>true})%>
      </li> 
      <%end #if  attribute in searchable %> 
      <%if CalmappVersionsTranslationLanguage.searchable_attr.include?("calmapp_version_id") %>  
      <li class="string optional" id="calmapp_versions_translation_language_calmapp_version_id_input">
      	<label for="criterion_calmapp_version_id" class="criteria-label" >
          <%= tlabel( "calmapp_version_id", "calmapp_versions_translation_language") %> 
        </label>
        <%=select_tag(  :operator_calmapp_version_id, options_for_select(operators_2_options(equal_operator), params[:operator_calmapp_version_id]),{:include_blank=> true,:class=>'criteria-operators-select', :readonly=>true} ) %> 
           <!--%=text_field_tag( :criterion_calmapp_version_id, params[:criterion_calmapp_version_id])%-->
        <%=select_tag(:criterion_calmapp_version_id, options_from_collection_for_select(CalmappVersion.version_select , "id", "description", params[:criterion_calmapp_version_id]), {:include_blank=>true})%>
      </li> 
      <%end #if  attribute in searchable %> 
     
     </ol> 
   </fieldset>
      
      <%= submit_tag "Search", :name => nil %>
  <%end  #end form_tag do%>

</div>
<%end%>

<% if @calmapp_versions_translation_languages.count==0 then %>
  <%=tflash( "no_records_found_with_permissions", :warning)%><br/>
<%  else %> 
  
  <%= will_paginate %>
  <table class="data">
    <thead>
      <tr class ="dataheader">  
        <th class ="dataheader"><%=tlabel('translation_language_id', 'calmapp_versions_translation_language') %> </th>
        <th class ="dataheader"><%=tlabel('calmapp_version_id', 'calmapp_versions_translation_language')%></th>
        <%has_role? :calmapp_versions_translation_languages_write do%>
          <th class="linkheader">Uploads</th>
        <%end%>
        <%has_role? :translations_read do%>
          <th class="linkheader">Translations</th>
        <%end%>
        <!--%has_role? :calmapp_versions_translation_languages_destroy do% -->
       
          <!--th class="linkheader">c</th-->
        <!--%end%-->
         
        <%has_role? :calmapp_versions_translation_languages_translatorpublish  do%>
          
            <th class="linkheader">Translator Test Publishing</th>
        <%end%>
        
         
            
         
        <%if has_role? :calmapp_versions_translation_languages_languagepublish%>
           <th class="linkheader">Admin Language Publishing</th>
        <%elsif has_translator_to_production_role? && !(current_user.sysadmin?)%>
          <th class="linkheader">Translator Publish to Production</th>
        <%end%>
        <% if has_role?(:calmapp_versions_translation_languages_deepdestroy)%>
          <th class="linkheader">Admin Deep Delete</th>
        <%end%>
      </tr>
    </thead>
  
    <tbody>
      <% @calmapp_versions_translation_languages.each do |calmapp_versions_translation_language| %>
        <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(calmapp_versions_translation_language)%>'>
          <td class="<%= cell_class %>"><%= calmapp_versions_translation_language.translation_language.name %></td>
          
          <td class="<%= cell_class %>"><%= calmapp_versions_translation_language.calmapp_version_tl.description %></td>
          <%has_role? :calmapp_versions_translation_languages_write do%>
            <%= link_edit(edit_calmapp_versions_translation_language_path(calmapp_versions_translation_language), calmapp_versions_translation_language,:edit=>'change_uploads', :category=> :action)%>
          <%end%>
          <%has_role? :translations_read do%>
            <td class="<%= link_cell_class %>"><%= tlink_to  'go_to_translations', translations_path + "/?criterion_cavtl_id=" + calmapp_versions_translation_language.id.to_s + "&operator_cavtl_id=eq"%></td>
          <%end%>
          
          <!--this is translator publish -->
          <%role_permission, no_language_permission, no_redis, is_english = false%>
          <td class="<%= link_cell_class %>" style='width:200px;'>
          <%if not_en?(calmapp_versions_translation_language) || permission_ok_for_en?(calmapp_versions_translation_language)%> 
            <%if has_translatorpublish_role?%>
                <div id ='tl-_translator-publish-flash-<%=calmapp_versions_translation_language.id.to_s%>'></div>
                <%if redis?(calmapp_versions_translation_language)%>
                  <%if user_has_language?(calmapp_versions_translation_language) || current_user.sysadmin? || permission_ok_for_en?(calmapp_versions_translation_language)%> 
                       <%=tlink_to "translator_publish", 
                       translator_publish_path(calmapp_versions_translation_language.id),
                       { :method=> "get",
                         :remote => true,
                         :navigate=> false,
                         :language=> calmapp_versions_translation_language.translation_language.name, 
                         :redis_database => calmapp_versions_translation_language.calmapp_version_tl.translators_redis_database.description,
                         :data=>{:"tooltip" => t($FH + 'calmapp_versions_translation_language.translator_publish', :language=>calmapp_versions_translation_language.translation_language.name, 
                                  :redis_database=>calmapp_versions_translation_language.calmapp_version_tl.translators_redis_database.description)
                                  },
                         :id => 'translator-publish'         
                         }
                         %>
                   <%else%> 
                       <%no_language_permission = true%>
                  <%end #no language permission%>
                <%else%>  
                  <%no_redis = true%>
                <%end #redis db not nil%>
            
            <%else%>
              <%no_role_permission = true%>  
            <%end #role%>
           <%else%>
             <%is_english = true%>
           <%end%> 
           <% if no_role_permission%>
             You have no permission to perform translator publish. Contact your system admin.
           <%elsif no_language_permission%>
             You have no permission to publish <%=calmapp_versions_translation_language.translation_language.name%>. Contact your system admin.
           <%elsif no_redis%>
             There is no translator's redis database setup for you to publish <%=calmapp_versions_translation_language.calmapp_version_tl.description%>. Contact your system admin.
           <%elsif is_english%>
             Translators cannot publish English. 
           <%end%>  
           </td> 
           <!--This is admin publish -->
          <% if has_role? :calmapp_versions_translation_languages_languagepublish %>
            <!--%if  current_user.translator_cavs_tls.include?(calmapp_versions_translation_language)%-->
           <!--%if has_translatorpublish_role? || has_translator_to_production_role?%--> 
            <td class="<%= link_cell_class %>" style='width:200px;'>
              <% if user_has_language_or_sysadmin(calmapp_versions_translation_language)%>
                <%if calmapp_versions_translation_language.redis_databases_count > 0%>                
                  <div id ='tl-admin-publish-flash-<%=calmapp_versions_translation_language.id.to_s%>'></div>
                  <button id = 'admin-publish-language' data-tooltip = '<%=t($FH + 'calmapp_versions_translation_language.language_publish', :language=>calmapp_versions_translation_language.translation_language.name)%>'>
                    <%=t($FA + "publish_language", :language=> calmapp_versions_translation_language.translation_language.name)%>
                  </button>
                   <!--This div is for error messages-->
                  <div id = 'publishing-get-database-language'>
                  <%=form_tag(calmapp_versions_translation_languages_languagepublish_path(calmapp_versions_translation_language.id), 
                  :remote=> true, 
                  :id=> 'publish-language') do %> 
                    
                  <label>To Redis Db</label>
                  <%=selection_admin_publishing_dbs(calmapp_versions_translation_language)%>
                  <br>
                  
                    <input id = 'admin-publish-language' class: "text-wrap" type = 'submit' name ='submit' 
                    value='<%=t($FA + 'translation_language_publish_admin',
                          :language=> calmapp_versions_translation_language.translation_language.name)%>' 
                          
                           >
                   <%end #form%> 
                    <img id = 'disappear-admin' src = '/assets/treeview/minus.gif' alt='-' style = 'float:right;'>
                  </div>
                <%else%>
                   <%=link_to "Before you can publish, Add a Redis_database", calmapp_versions_path %>    
                <%end #if redis count%>
             
             <%else%>
                You do not have permission to publish this language
             <%end # incldue language %>   
            </td>
          <%end #role%>
          <%#binding.pry%>
          
          <!-- This is translator publish to production -->
          <%if has_translator_to_production_role? && !(current_user.sysadmin?)%> 
            <td class="<%= link_cell_class %>" style='width:200px;'>
            	<!--% if user_has_language_or_sysadmin(calmapp_versions_translation_language)%-->
                <!--%if calmapp_versions_translation_language.redis_databases_count_production > 0%-->                
                <%if  calmapp_versions_translation_language.calmapp_version_tl.production_redis_database.nil?%>  
                   <%if has_role? :calmapp_versions_write%>
                    <%=link_to "Before you can publish to production, Add a Redis_database for Production", calmapp_versions_path %>
                  <%else%>
                     Get your administrator to add a Redis database for production before you can do this.
                  <%end%>      
                <%else%>
                  <div id ='tl-production-publish-flash-<%=calmapp_versions_translation_language.id.to_s%>'></div>
                  <!--button id = 'publish-production' data-tooltip = '<%=t($FH + 'calmapp_versions_translation_language.translator_production_publish', :language=>calmapp_versions_translation_language.translation_language.name)%>'-->
                    <!--%=t($FA + "publish_language", :language=> calmapp_versions_translation_language.translation_language.name)%-->
                  <!--/button -->
                   <!--This div is for error messages-->
                  <div id = 'publishing-get-database-production'>
                  <%=form_tag(calmapp_versions_translation_languages_translatorproductionpublish_path(calmapp_versions_translation_language.id), 
                  :remote=> true, 
                  :id=> 'publish-language') do %> 
                    
                  <!--label>To Redis Db</label-->
                  <!--%=selection_production_dbs(calmapp_versions_translation_language)% -->
                  <!--br-->
                    <input id = 'production-publish-language' class = "wrap-text" type = 'submit' name ='submit' 
                       value='<%=t($FA + 'translation_language_publish',
                            :language=> calmapp_versions_translation_language.translation_language.name, 
                            :redis_database => calmapp_versions_translation_language.calmapp_version_tl.production_redis_database.description )%>')
                           >
                   <%end #form%> 
                    <!--img id = 'disappear-production' src = '/assets/treeview/minus.gif' alt='-' style = 'float:right;'-->
                  </div>
                
                 
                <%end #production_redis_database nil?%>
             
              
            </td> 	
          <%end%>
          <% if has_role?(:calmapp_versions_translation_languages_deepdestroy)%>
              <td class="<%= link_cell_class %>" style='width:200px;' >
              <%if calmapp_versions_translation_language.translation_language == TranslationLanguage.TL_EN%>
                 Cannot delete English translations here as all translations for all languages would be deleted. Do <i>Deep Delete</i> on <i>Application Versions</i> if you want this result. 
              <%else%>
                <div id = 'local-flash-deepdelete'></div>
                <%=button_to(t($FA + "deepdestroy"), versions_language_deepdestroy_path(calmapp_versions_translation_language.id),
                  :method => :delete, 
                  :remote=> true, 
                  :data=>{:confirm=>t($MS + "delete.destroy_translation_data_1_language." + $W, 
                          :app_version => calmapp_versions_translation_language.description, 
                          :language => calmapp_versions_translation_language.translation_language.name),
                          :"tooltip" => t($FH + 'calmapp_versions_translation_language.deepdestroy', :language=>calmapp_versions_translation_language.translation_language.name)},
                          :id=> 'deepdestroy'       )%>
              <%end%> 
              </td>         
         <%end%>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= twill_paginate %>
 <%end%>

<p>
  <%if has_role? :calmapp_versions_read %> 
  <span style ="font-weight:700;">Can't see your version or language here? Have Correct Permissions?</span>
  <%=tlink_to("translation_languages_calmapp_versions_to_new_upload", calmapp_versions_path, :title=> 'calmapp_versions_translation_language.to_new_upload')%>
  <%end%>
</p>

<script>
  //this script does jquery ui tooltips
  $("[data-tooltip]").each(function(i, e) {
    var tag = $(e);
    if (tag.is("[title]") === false) {
        tag.attr("title", "");
    }
});


$(document).ready(function(){ 
  $('input#deepdestroy').on("click", "div.tt" , function(){
    $(this).remove();
  });
  $('button#publish').on("click", "div.tt" , function(){
    $(this).remove();
  });
  $('button#publish-production').on("click", "div.tt" , function(){
    $(this).remove();
  });
});

</script>
