<%= semantic_form_for(@contact) do |f| %>
	<%= f.inputs do %>
				   <%= f.input :problem_area  %>   
				   <%= f.input :screen_name  %>   
				   <%= f.input :last_menu_choice  %>   
				   <%= f.input :description  %>   
				   <% if (not f.object.new_record?) then%>
				      <%=f.input :status, :as=>:select, :collection=> [['received', 'received'], ['open','open'], ['to_developers','to_developers'], ['answered','answered'], ['closed','closed']] %>  
		          <li><label for "user">Contacting User Data</label><%=show_user(@contact.user)%></li>
		       <%end%>  
	<% end %>	

        <%= f.actions do %>
          <%= f.action(:submit) %>

        <% end %>
<% end %>

