<p id="notice"><%= notice %></p>

<p>
  <b><%= tlabel('dot_key_code', 'dot_key_code_translation_editor' ) %>:</b>
  <%= @dot_key_code_translation_editor.dot_key_code %>
</p>

<p>
  <b><%= tlabel('editor', 'dot_key_code_translation_editor') %>:</b>
  <%= @dot_key_code_translation_editor.editor %>
</p>

<div class="inline-hints">
  This data is not editable because a change it editor requires a change in programming. Reqeust a change in the next version if needed.
</div>  


<!--%=link_edit( edit_dot_key_code_translation_editor_path(@dot_key_code_translation_editor), :dot_key_code_translation_editor) % --> 
<%= link_back(dot_key_code_translation_editors_path) %>

