<%= semantic_form_for(@calmapp) do |f| %>
	<%= f.inputs do %>
    <%= f.input :name %> 
           
       <p class= "nesting-heading"><%=t($ARM + "calmapp_version", :count=>3)%></p>
       <%= f.semantic_fields_for :calmapp_versions do |cav| %>         
         <%= render :partial=>'calmapp_versions/calmapp_version_simple_details', :locals=>{:f=> cav}  %>            
       <%end%> 
      <li class='nesting-add-fields'  >
        <%= link_to_add_association t($FA + 'add_calmapp_version'), f, :calmapp_versions, 
        :partial => 'calmapp_versions/calmapp_version_simple_details',
        'data-association-insertion-method' => "after" 
         %>
      </li> 
   <%end%>
   <br>
	<%= f.actions do %>
      <%= f.action :submit, :button_html => {:id=>"submit"} %>
  <% end %>
<% end %>  

