<%=theading("listing", :model => "calmapp", :count=>10) %>
<% if Calmapp.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
<%= twill_paginate %>
  <table class="data">
    <tr class="dataheader">
      <th class ="dataheader"><%=tlabel('name', 'calmapp') %></th>
      <%has_role?(:calmapps_write) do%>  
        <th class="linkheader"></th>
      <% end %>
      <% if  has_role?(:calmapps_destroy)%>
        <th class="linkheader"></th>
      <% end %>
    </tr>

  <% row_class="data" %>
  <% cell_class = "data" %>
  <% link_cell_class="link"%>
  <% @calmapps.each do |calmapp| %>
    <tr class = "<%= cycle('dataeven', 'dataodd', :name => row_class) %>" id = '<%= dom_id(calmapp)%>'>
      <td class="<%= cell_class %>"><%= calmapp.name %></td>
      <%has_role?(:calmapps_write) do%>
        <%=link_edit(edit_calmapp_path(calmapp), :calmapps)%>
      <% end %>
      <% if calmapp.can_destroy?  && has_role?(:calmapps_destroy)%>
        <%=link_destroy(calmapp, :calmapp)%>
    <% end %>  
    </tr>
    <%end%>
  </table>
  <%= twill_paginate %>
  <br/>
<%end%>  
<%if has_role? :calmapps_create%>
  <%= tlink_to('new_model', new_calmapp_path, :model=> 'calmapp', :category=>:action) %>
<% end %>
