<%=theading("listing", :model => "calmapp", :count=>10) %>
<% if Calmapp.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
<%= twill_paginate %>
  <table class="data">
    <tr class="dataheader">

      <th class ="dataheader"><%=tlabel('name', 'calmapp') %></th>



      <th class="linkheader"></th>
      <th class="linkheader"></th>

    </tr>

  <% row_class="data" %>
  <% cell_class = "data" %>
  <% link_cell_class="link"%>
  <% @calmapps.each do |calmapp| %>

    <tr class = "<%= cycle('dataeven', 'dataodd', :name => row_class) %>" >
      <td class="<%= cell_class %>"><%= calmapp.name %></td>
      <%=link_edit(edit_calmapp_path(calmapp), :calmapps)%><!--%= tlink_to  'edit', edit_calmapp_path(calmapp) %></td -->
      <!--%if can_destroy?% -->
      <% if calmapp.can_destroy?%>
      <!--%options={:title=>t($MS + "no_delete_if_versions_exist." +$N)}%>
      < %options[:style] = "pointer-events: none; cursor: default;" if not calmapp.can_destroy? %>
      < %options[:tabindex] = "-1" if not calmapp.can_destroy? % -->  
        <%=link_destroy(calmapp, :calmapps)%>
      <%else%>
         <td class = "<%=link_cell_class%>">
           <a href="#" title = "<%=t($MS + "no_delete_if_versions_exist." +$N)%>"><%=t($FA +"no_delete")%></a>
         </td>
      <%end%>
    </tr>

  <% end %>
  </table>
  <%= will_paginate %>
  <br/>
<%end%>
<%= tlink_to('new_model', new_calmapp_path, :model=> 'calmapp', :category=>:action) %>