<!--This form (In translation_uploads)will soon be deprecated>
<%= semantic_form_for(@translations_upload, :html => { :multipart => true }) do |f| %>
	<%= f.inputs do %>
				   <%= f.input :calmapp_versions_translation_language_id, :as=>:select,:collection=> CalmappVersionsTranslationLanguage.all.collect {|p| [ p.name, p.id ]}  %> 
				   <!--%= f.input :calmapp_version_id, :as=>:select,:collection=> CalmappVersion.all.collect {|p| [ p.name, p.id ]}  % -->     
				   <%=render :partial => "shared/translation_uploads_fields", :locals=> {:f=>f}%>
		       <!--%= f.input :remote_yaml2_upload_url, :as => :url% -->  
		       <!--li>
             <label>  < % =t($ARA + "translations_upload.yaml_upload_file_name")%></label> 
             < %= f.text_field :remote_yaml2_upload_url %> <!--, :as=>:string, :label=> t($ARA + "translations_upload.yaml_upload_file_name"), :hint=>t($FH + "translations_upload.yaml_upload_file_name") % -->
           <!--/li -->
	<% end %>	

        <%= f.actions do %>
          <%= f.action(:submit) %>
        <% end %>
<% end %>

