<%=theading("listing", :model=>"release_status", :count=>10 )%>
<% if ReleaseStatus.count==0 then %>
  <%=tflash( "no_records_found", :warning)%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=t($ARA+'release_status.status') %></th>
    <%if has_role? :release_statuses_write%>
    <th class="linkheader"></th>
    <%end%>
    <%if has_role? :release_statuses_destroy%>
    <th class="linkheader"></th>
    <%end%>
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @release_statuses.each do |release_status| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" id = '<%= dom_id(release_status)%>'>
      
      <td class="<%= cell_class %>"><%= release_status.status %></td>

    <%if has_role? :release_statuses_write%>
    <%=link_edit(edit_release_status_path(release_status), "release_status")%>
    <%end%>
    <!--td class="<%= link_cell_class %>"><%= link_to  t('actions.edit'), edit_release_status_path(release_status) %></td -->
    <!--td class="<%= link_cell_class %>"><%= link_to t('actions.destroy'),  release_status , :confirm => t('messages.delete.are_you_sure', :model => t($ARM + "release_status", :count=>1)), :method => :delete %></td -->
    <%if has_role? :release_statuses_destroy%>
      <%=link_destroy(release_status, "release_status") %>
    <%end%>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%if has_role? :release_statuses_create%>
  <%= tlink_to('new_model', new_release_status_path, :model=> 'release_status', :count=>1) %>
<%end%>
