<!DOCTYPE html>
<html>
<head>
  <title>Calm Translator</title>
  <%=  javascript_include_tag 'application', "data-turbolinks-track" => true %>
  
   
  
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag  'application', media: "all", "data-turbolinks-track" => true %> <!--, 'formtastic.css', 'formtastic_changes.css', "ui-lightness/jquery-ui-1.8.6.custom.css",
           'jquery.treeview.css',  'donotedit/trans.css',  'google.docs.css' %> -->
  <%= csrf_meta_tag %>
</head>
<body>
   <div id = "bigcontainer" style= "">
    
    <div id="appheader" style= "border-color:red;">
     
      <%= render 'layouts/header' %>
    </div>
   
    <table id ="appmaintable" >
      <tr>
        <td id="appmenutd" class="maindisplay" >

          <%= render  'layouts/menu' %>

        </td>
        <!-- td id="appmaintd" class="maindisplay"  -->

        <!-- /td -->
				<td id="appmaintd"  class="maindisplay">
					<div id="container">
					  <!-- We are now using unobtrusive flash gem to don't need this -->
					  <div id="flash">
					    <!--flash baby flash -->
    			    <% flash.each do |name, msg| %>
    			        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    			    <% end %> 
            </div>  
        

			      <%= content_tag :h1, yield(:title) if show_title? %>
			      <%= yield %>
       </div></td>
      </tr>
    </table>
   </div>

</body>
</html>
