<!DOCTYPE html>
<html>
<head>
  <title>Translator</title>

  <%=  javascript_include_tag 'application', "data-turbolinks-track" => true %>

  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag  'application', media: "all", "data-turbolinks-track" => true %> 
  <%= csrf_meta_tag %>
</head>
<body>
   <div id = "bigcontainer" style= "">
    
    <div id="appheader" style= "border-color:red;">
     
      <%= render 'layouts/header' %>
    </div>
   
    <table id ="appmaintable" >
      <tr>
        <td id="appmenutd" class="maindisplay" >
          <%if ! current_user.nil?%>
            <%= render  'layouts/menu' %>
          <%end%>
        </td>

				<td id="appmaintd"  class="maindisplay">
					<div id="container" class = <%= @markdown_file ? "markdown-body" : "x"%>>
					  
					  <div id="flash">
					    <!--flash baby flash -->
					    <%=display_flashes()%>   			   
            </div>  
        

			      <%= content_tag :h1, yield(:title) if show_title? %>
			      <%= yield %>
       </div></td>
      </tr>
    </table>
   </div>

</body>
</html>
